body {
    background-image: url("foto2/background\ pastel.jpg")
}


.wrapper {
    background-color: #1b1b1b;
    width: 1300px;
    margin: auto;
    position: relative;
    border-radius: 10px;
    text-decoration: none;
}

.menu ul li a {
    font-style: sans-serif;
    color: #cdb7f6;
    font-size: 30px;
    text-decoration: none;
    display: inline-block;
    justify-content: space-between;
    text-align: center;
    padding-bottom: 10px;
    
}

.logo a {
    font-style: sans-serif;
    color: #cdb7f6;
    font-size: 45px;
    padding-left: 500px;
    text-decoration: none;
}

#foto {
    margin-left: 120px;
    margin-top: 150px;
    margin-right: 120px;
    display: flex;
    justify-content: space-between;
}

#foto p {
    font-size: 80px;
    text-align: center;
    padding-top: 30px;
}

li
{
    list-style-type: none;
}

.photo1 {
    border: 20px;
    border-radius: 20px;
    background-color: #1b1b1b;
    width: 700px;
    margin-left: 600px;

}

.photo1 h1 {
    text-align: center;
    padding-top: 10px;
}

.photo1 img {
    padding-left: 100px;
}

.photo1 h2 {
    padding: 20px;
    text-align: center;
}

#formulir {
    padding-top: 50px;
    border: 200px;
    border-radius: 30px;
    background-color: #1b1b1b;
    width: 650px;
    margin-left: 628px;
    
}

#formulir table {
    padding: 20px;
    padding-left: 70px;
}

.entong {
    text-align: center;
    font-size: 25px;
    align-items: center;
    padding-top: 137px;
}

.menu ul li a:hover {
    color: yellow;
        border-bottom: 7px solid yellow;
}

.Instagram {
    margin-top: 100px;
    margin-left: 700px;
}

.Instagram p {
    font-size: 25px;
}




